.post h3 {
    text-align: center;
}
.col-md-12 {
    text-align: center;
}

.navbar {
    margin-bottom: 0px;
}

h1, h3, h4{
    font-family: 'Roboto';
    text-align: left;
}

h2{
  text-align: center;
}

.price{
    margin-top: 10%;
}

.table-responsive {
  border-collapse: separate;
  border-spacing: 5px ;

}

.img-responsive{
  width: auto;
  margin: auto;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited{
    color: #000000;
}

.table-responsive{
    margin: auto;
}
.item.social > a {
  font-size:30px;
  margin:0 8px;

}

.footer-dark {
  padding:10px 0;
  margin-top: 20px;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer p {
    text-align: left;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}



@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}


body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  width: auto;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 50px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 200px;
  text-align: center;

  color: black;
}

.container {
  width: auto;
  margin: auto;
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

